body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #DBACA9;
  font-family: "Inclusive Sans", sans-serif;
}

nav {
  text-align: center;
  padding: 3rem 0;
  background-color: #000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: #B8DDF5;
  text-decoration: none;
  font-weight: 1000;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.home_image img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.home_content {
  max-width: 400px;
  margin-left: 2rem;
}

.home_content h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.home_content p {
  margin-bottom: 3rem;
  line-height: 1.6;
}

.home_content ul {
  list-style: inside;
  padding: 0;
  color: #B8DDF5;
}

.home_content li {
  margin-bottom: 0.5rem;
}

.home_content li a {
  color: #B8DDF5;
  text-decoration: none;
  font-weight: 600;
}

.home_content li a:hover {
  text-decoration: underline;
}

.page-content {
  padding: 0rem;
  max-width: 1300px;
  margin: auto;
  line-height: 1.6;
}

.ship-status {
  font-style: italic;
  background-color: #9F4146;
  color: #DBACA9;
  padding: 0.5em;
  border-radius: 4px;
  margin: 1em 0;
}